{{ with .Site.Params.algolia_docsearch }}
<!-- scripts for algolia docsearch -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.5.2"
        integrity="sha512-LzxWPDNELae1RSIsDRSitKYPJpRtjYo22GbOl+d+xLcjKiZQRRdxSTI3cRRHw7O05e0MbIIu33QnU2rt6ymQ6A=="
        crossorigin="anonymous" ></script>
<script type="text/javascript">
    docsearch({
        appId: "DV76UK9EIH",
        apiKey: "227dec0ac6cbc8dfad748f27b2974507",
        indexName: "go-",
        container: "#docsearch",
        debug: false // Set debug to true if you want to inspect the modal
    });
</script>
{{ end }}