{{- $src := .Destination | safeURL -}}
{{ if strings.HasPrefix $src "http" }}
    <img src="{{ $src }}"
         alt="{{ .Text }}"
         {{ with .Title }} title="{{ . }}"{{ end }}
    />
{{ else }}
    {{ $rel := .Destination | relURL }}
    {{ $curDir := .Page.File | path.Dir }}
    {{ $MyDefLastUrlEle := .Page.Site.Params.MyDefLastUrlEle}}
    {{ if eq $MyDefLastUrlEle "" }}
    {{/* 站点配置中 $MyDefLastUrlEle == "" 的情况 */}}
        {{ if eq $curDir "." }}
        <img src="..{{- $rel -}}"
             alt="{{ .Text }}" data-cur-dir="{{- $curDir -}}" data-rel="{{- $rel -}}" data-1my="{{ .Page.Site.Params.MyDefLastUrlEle }}"
             {{ with .Title }} title="{{ . }}"{{ end }}
        />
        {{ else }}
        <img src="/{{- $curDir -}}{{- $rel -}}"
             alt="{{ .Text }}" data-cur-dir="{{- $curDir -}}" data-rel="{{- $rel -}}" data-1my="{{ .Page.Site.Params.MyDefLastUrlEle }}"
             {{ with .Title }} title="{{ . }}"{{ end }}
        />
        {{ end }}
    {{ else }}
        {{/* 站点配置中 $MyDefLastUrlEle != "" 的情况 */}}
        {{ $rg := strings.TrimPrefix $MyDefLastUrlEle $rel }}
        {{ if eq $curDir "." }}
            <img src="..{{- $rg -}}"
                 alt="{{ .Text }}" data-cur-dir="{{- $curDir -}}" data-rg="{{- $rg -}}" data-rel="{{- $rel -}}" data-2my="{{- .Page.Site.Params.MyDefLastUrlEle -}}"
                 {{ with .Title }} title="{{ . }}"{{ end }}
            />
        {{ else }}
            <img src="{{- $MyDefLastUrlEle -}}/{{- $curDir -}}{{- $rg -}}"
                 alt="{{ .Text }}" data-cur-dir="{{- $curDir -}}" data-rg="{{- $rg -}}" data-rel="{{- $rel -}}" data-2my="{{- .Page.Site.Params.MyDefLastUrlEle -}}"
                 {{ with .Title }} title="{{ . }}"{{ end }}
            />
        {{ end }}
    {{ end }}
{{ end }}