+++
title = "go中文档集"
linkTitle = "go中文档集"
draft = false
+++

{{< blocks/cover title="欢迎来到 go 中文档集" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< ref "/docs" >}}">
		了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/before80/go_docs">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">该文档的价值在于能为您提供必要的搜索</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
该文档提供了go 官方文档、go 标准库、go 官方博客、以及一些wiki类文章的中文翻译。目前还没有全部完善，但我想目前这些应该也能对您写 go 代码有所帮助！
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="go 标准库的版本是go 1.21.3" url="https://before80.github.io/go_docs/stdLib/" %}}
翻译从2023年2月底开始

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="go 官方文档的版本是go 1.19.3" url="https://before80.github.io/go_docs/docs/" %}}
翻译从2022年11月初开始
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="完全收录go 官方博客" url="https://before80.github.io/go_docs/goBlog/" %}}
翻译从2022年12月初开始
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">希望该文档能帮到您！</h1>
</div>

{{< /blocks/section >}}



